.container {
	border: 1px solid white;
	width: 80%;
	color: white;
	text-align: center;
	padding: 15px;
}

.deck {
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 100%;
}

.hand {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	width: 38px;
	height: 50px;
	margin: 5px;
	color: transparent;
	background-color: rgb(83, 179, 51);
	border-radius: 5px;
}
